.user-profile-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;

  > * {
    margin: 1em
  }
}

.user-profile-image {
  width: 300px;
}

.repo-list-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 60%;
  justify-content: space-around;
}

.repo-item {
  width: 47%;
  height: 10em;
  margin: 0.5em;
}

.repo-description-text {
  font-size: 0.8em;
  overflow: hidden;
}