.layout {
  .card-title {
    font-weight: normal;
    font-size: 1em;
  }

  .card-subtitle {
    max-height: 70%;
    font-weight: normal;
  }

  .card-text {
    font-size: 0.8em;
    margin-top: 0.5em;
  }

  .btn {
    margin-left: 1em;
  }

  .error-text {
    text-align: center;
  }

  .spinner-border {
    position: fixed;
    top: 50vh;
    right: 50vw;
  }

  .navbar-logo-image {
    margin-right: 1em;
    width: 30px;
    height: 30px;
  }
}
